/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    ;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Nerko One', cursive;
    color: #ff9614;
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #000;
    font-weight: normal;
    padding: 0 20px;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    color: #7c69a4;
    font-size: 1.8rem;
}

a {
    text-decoration: none;

}

address {
    font-style: normal;
    text-transform: uppercase;
    color: gray;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* Utils */

.c-wh {
    color: #fff;
}

.c-red {
    color: #ff0000;
}

.c-vio {
    color: #cd2685;
}

.c-az {
    color: #179cf0;
}

.c-daz {
    color: #0266ff;
}

.bc-or {
    background-color: #f7972e;
}

.bc-wh {
    background-color: #fff;
}

.button {
    height: 50px;
    width: 80px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.button-social {
    height: 50px;
    width: 60px;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    font-size: 1.2rem;
}

/* Header */
header {
    height: 100px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 0 3px gray;
}

.more-title {
    display: none;
}

/* Main */
main {
    background-color: #f4f3f1;
    padding: 0 50px;
}

section {
    padding: 20px 0;
}

/* Section Recipe Name */
.main-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.rating {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating i {
    color: #f7972e;
}

/* Section Recipe Info */
iframe {
    width: 100%;
    height: 500px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    flex-basis: 100%;
    background-color: #fff;
}

.card-info {
    padding: 20px;
    background-color: #f6f5f9;
    margin: 30px 20px;
}

.info-calories {
    display: flex;
    justify-content: space-between;
}

.info-calories span {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #7c69a4;
    margin-bottom: 5px;
}

.more-info {
    color: #f7972e;
    font-weight: 800;
    font-size: 1.5rem;
}

.divider {
    border: 1px solid #dedede;
    width: 100%;
    display: block;
    margin: 10px 0;
}

.card-options {
    padding: 10px;
    margin: 30px 20px;
}

.info-category {
    text-transform: uppercase;
}

.options-list li {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
}

.options-list li i {
    color: #f7972e;
}

/* Section Recipe Social */
.social-list {
    display: flex;
    justify-content: space-around;
}

.social-name {
    color: #000;
    margin: 5px;
    display: none;
}

/* Section Recipe Banner */
#banner {
    display: none;
}

/* Section Presentation */
#recipe-presentation {
    padding-bottom: 40px;
}

.divider-small {
    border: 1px solid #f7972e;
    width: 25%;
    display: block;
    margin: 20px 0;
}

figure img {
    width: 50%;
}

figure {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.presentation-paragraph {
    font-size: 1.5rem;
}

/* Footer */
footer {
    background-color: #7c69a4;
    color: #fff;
    padding: 0 100px;
}


/* Footer info */
.footer-info {
    text-align: center;
    padding: 20px 0;
}

.footer-info p {
    margin: 5px 0;
}

/* Footer list */
.footer-list {
    padding-bottom: 40px;
}

.footer-ul {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-ul li a {
    text-decoration: underline;
    color: #fff;
}

/* Media Queries */

@media screen and (min-width: 768px) {

    /* Header */
    h1 {
        text-align: left;
    }

    /* Main */
    main {
        padding: 20px 50px;
    }

    /* Section Recipe Name */
    .more-title {
        display: inline;
    }

    h3 {
        font-size: 2rem;
    }

    /* Section Recipe info */
    .options-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    /* Section Recipe Social */
    .social-list {
        gap: 10px;
    }

    .button-social {
        width: 120px;
    }

    /* Section Recipe Banner */
    #banner {
        display: block;
    }

    figure {
        display: inline;
    }

    figure img {
        float: left;
        margin-right: 10px;
    }
}

@media screen and (min-width: 992px) {

    /* Section Recipe Name */
    h3 {
        font-size: 2.8rem;
    }

    /* Section Recipe info */
    .row {
        flex-wrap: nowrap;
    }

    .options-list {
        display: block;
    }

    /* Section Recipe Social */
    .button-social {
        width: 160px;
    }

    .social-name {
        display: inline;
    }

}